.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #2F303A;
    background-image: url(../../images/bg-mob.jpg);
    // background-image: var(--bg-gradient), url(../images/bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    @include retina {
        background-image: url(../../images/bg-mob-2x.jpg);
        // background-image: var(--bg-gradient), url(../images/bg-mob-2x.jpg);
    }
    
    @include tablet {
        background-image: url(../../images/bg-tab.jpg);
        // background-image: var(--bg-gradient), url(../images/bg-tab.jpg);
        @include retina {
            background-image: url(../../images/bg-tab-2x.jpg);
            // background-image: var(--bg-gradient), url(../images/bg-tab-2x.jpg);
        }
    }

    @include desktop {
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: url(../../images/bg.jpg);
        // background-image: var(--bg-gradient), url(.//images/bg.jpg);
        @include retina {
            background-image: url(../../images/bg-2x.jpg);
            // background-image: var(--bg-gradient), url(../images/bg-2x.jpg);
        }
    }
}

.hero__title {
    width: 100%;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    
    @include tablet {
        width: 360px; 
        font-size: 26px;
    }

    @include desktop {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__btn {
    padding: 10px 24px;
    min-width: 200px;

    @include desktop {
        padding: 10px 32px;
        min-width: 216px;
    }
}