.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 
        opacity var(--transition-duration) var(--transition-timing-function), 
        visibility var(--transition-duration) var(--transition-timing-function);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1, 1);
    width: 95%;
    max-width: 450px;
    height: 609px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    transition: transform var(--transition-duration) var(--transition-timing-function);
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.5, 0);
    }

    @include desktop {
        width: 100%;
        max-width: 528px;
        height: 581px;
    }
}

.modal__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.callb-form {
    display: flex;
    flex-direction: column;
}

.callb-form__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: var(--tittle-text-color);

    @include desktop {
        line-height: 1.15;
    }
}

.callb-form__label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.callb-form__field {
    position: relative;
    margin-bottom: 10px;
}

.callb-form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border-radius: 4px;
    border: transparent;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    transition: outline var(--transition-duration) var(--transition-timing-function);
    &:focus-within {
        outline: 1px solid var(--accent-color);
    }
}

.callb-form__icon {
    position: absolute;
    top: 11px;
    left: 12px;
    fill: var(--tittle-text-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
    .callb-form__input:focus-within + & {
        fill: var(--accent-color);
    }
}

.callb-form__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    resize: none;
    border: transparent;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    transition: outline var(--transition-duration) var(--transition-timing-function);
    &:focus-within {
        outline: 1px solid var(--accent-color);
    }
    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.policy__label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.17;

    @include desktop {
        font-size: 14px;
        line-height: 1.71;
    }
}

.policy__link {
    color: var(--accent-color);
}

.policy__icon {
    margin-right: 8px;
    fill: var(--primary-white-color);
    cursor: pointer;
    border: 2px solid var(--tittle-text-color);
    background-color: var(--primary-white-color);
    border-radius: 2px;
    .policy__checkbox:checked + .policy__label & {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.callb-form__btn {
    padding: 10px 52px;
}
