.filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 10px;

    @include tablet {
        justify-content: center;
    }
}

.filter-list__btn {
    padding: 6px 21px;
    height: 38px;
    box-shadow: none;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    color: var(--tittle-text-color);
    background-color: #F5F4FA;
    transition: 
        color var(--transition-duration) var(--transition-timing-function),
        background-color var(--transition-duration) var(--transition-timing-function),
        box-shadow var(--transition-duration) var(--transition-timing-function);
    &--current, &:hover, :focus {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }  
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    @include tablet {
        @include calc(2, 2);
    }

    @include desktop {
        @include calc(4, 3);
    }
}

.portfolio__link {
    display: block;
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
    &:hover,
    :focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: transparent;
}

.portfolio__title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--tittle-text-color);
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}

.portfolio__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 77px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-timing-function);

    .portfolio__thumb:hover &, .portfolio__thumb:focus & {
        transform: translateY(0);
    }
}

