.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    color: var(--tittle-text-color);
    @include desktop {
        font-size: 36px;
        line-height: 1.17;
    }
}