*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}

