:root {
    --ptimary-text-color: #757575;
    --secondary-text-color: #ffffff;
    --titles-text-color: #212121;
    --accent-color: #2196f3;
    --team-bgc: #f5f4fa;
}

@mixin icon__group {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@mixin animation {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin similar-buttons {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}