.footer {
    background-color: #2f303a;
    padding: 60px 0;
}

.footer__group {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        // align-items: baseline;
    }
    
}

.container {}

.footer_part {
    @media screen and (min-width: 480px) {
        outline: 1px solid rgb(255, 255, 255);
        margin-bottom: 30px;
        
    }
    @media screen and (min-width: 768px){
        outline: 1px solid rgb(255, 255, 255);
        width: 500px;
        height: 150px;
    }  
}

.footer__logo {
    @media screen and (min-width: 480px) {
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.logo {}

.link {}

.stidio-footer {
    color: var(--secondary-text-color);
}

.footer__contact {}

.footer__address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__street {
    display: inline-block;
    color: var(--secondary-text-color);
    line-height: 1.71;
}

.footer__link {}

.footer__title {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 20px;

    @media screen and (min-width: 480px) {
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.footer__list {
    @media screen and (min-width: 480px) {
        display: flex;
    gap: 10px;
    justify-content: center;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    gap: 10px;
    justify-content: center;
    }
}

.footer__soc {
    color: var(--secondary-text-color);
    background-color: rgba(255, 255, 255, 0.1);
    @include icon__group;

    transition-property: background-color;
    @include animation;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.footer__icon {
    fill: currentColor;
}

.footer__follow {}

.footer__mail {}

.form-btn {}

.form-icon {}