header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-color);
    font-family: "Raleway";
    font-size: 26px;
    line-height: 1.19;
}

.studio-header {
    color: var(--titles-text-color);
}

.header__list {
    display: none;    
}

.header__list--left {
    margin-left: 93px;
}

.header__item:not(:last-child) {
    margin-right: 50px;
}

.header__page {
    display: flex;
    padding: 32px 0;
    color: var(--titles-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-property: color;
    @include animation;

    &.current {
        color: var(--accent-color);
        position: relative;
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.header__page--link {
    align-items: center;
    color: var(--ptimary-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.header__item--link:not(:last-child) {
    margin-right: 30px;
}

.header__page.current::after {
    content: " ";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.header-icon {
    margin-right: 10px;
    fill: currentColor;
}

.menu-open{
    // margin-left: auto;
}

.menu-close{
    margin-left: auto;
    
}

.mob-menu {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 84px;
}

.menu-close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.menu-close {}

.menu__site{
}

.site__page {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #212121;
}

.menu__site:not(:last-child){
    margin-bottom: 32px;
}

.list {}

.link {}

.menu__contact {
    margin-bottom: 64px;
}

.contact-link{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: #757575;
}

.contact-link:not(:last-child){
    margin-bottom: 32px;
}

.menu__soc {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.soc-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.menu__soc-item{
    position: relative;

}
.menu__soc-item:not(:last-child){
    &::after{
        content: " ";
        width: 1px;
        height: 22px;
        position: absolute;
        transform: translateX(10px);
        background-color: #212121;
    }
}

.menu-open-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    
}