.job {
    padding-top: 0;
}

.galery {
    display: flex;
}

.galery__item {
    position: relative;
    
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.galery__card {
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    padding: 27px;
    bottom: 0;
}

.galery__text {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
}